<?xml version="1.0" ?>

<robot name="stairs">

  <link name="world"/>

  <link name="track_edge">
  <contact>
      <lateral_friction value="1"/>
  </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value=".0"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry name="track_edge">
        <mesh filename="assets/track_edge.obj" scale="1 1 1"/>
      </geometry>
       <material name="orange">
            <color rgba="1 0.7 0.0 1"/>
       </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry name="track_edge">
        <mesh filename="assets/track_edge.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>

  <link name="track_core">
  <contact>
      <lateral_friction value="1"/>
  </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value=".0"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry name="track_core">
        <mesh filename="assets/track_core.obj" scale="1 1 1"/>
      </geometry>
       <material name="darkgray">
            <color rgba="0.2 0.2 0.2 1"/>
       </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry name="track_core">
        <mesh filename="assets/track_core.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  
  <link name="ramp">
  <contact>
      <lateral_friction value="1"/>
  </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value=".0"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="1.570796327 0 -1.570796327" xyz="0 0 0"/>
      <geometry name="ramp">
        <mesh filename="assets/box_ramp.obj" scale="1 1 1.3"/>
      </geometry>     
        <material name="powder">
          <color rgba="1 0.7 0.7 1"/>orange
        </material>
    </visual>
    <collision>
      <origin rpy="1.570796327 0 -1.570796327" xyz="0 0 0"/>
      <geometry name="ramp">
        <mesh filename="assets/box_ramp.obj" scale="1 1 1.3"/>
      </geometry>
    </collision>
  </link>

  <!-- Joints -->
  <joint name="world_to_track" type="fixed">
    <parent link="world"/>
    <child link="track_core"/>
    <origin rpy="0 0 1.57079" xyz="3 -0.525 0.05"/>
  </joint>

  <joint name="track_to_edge" type="fixed">
    <parent link="track_core"/>
    <child link="track_edge"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <joint name="track_to_ramp" type="fixed">
    <parent link="track_core"/>
    <child link="ramp"/>
    <origin rpy="0 0 3.14159" xyz="0.65 3.8 -0.05"/>
  </joint>

</robot>
